html {
	position: relative;
	min-height: 100%;
}

body {
	padding-bottom: 80px;
	font-family: 'Source Sans Pro', sans-serif;
}

.cursive {
	font-family: 'Petit Formal Script', cursive;
}

/*NAVIGATION*/

.navbar {
	background-color: #C5FF17;
	opacity: 0.4;
	height: 60px;
	margin-bottom: 20px;
	font-size: 16px;
}

.navbar-brand {
	font-size: 20px;
}

/*FOOTER*/

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	min-height: 100px;
	background-color: #C5FF17;
	opacity: 0.4;
	margin-top: 50px;
}

i {
	font-size: 2.5em;
	margin-right: 25px;
	margin-top: 30px;
}

#contact {
	float: right;
	margin-top: 40px;
	font-size: 18px
}

#login-footer {
	float: right;
}

/*BUTTONS, GLOBAL*/

.btn {
	background-color: #E79CF2;
	border: none;
	color: #FFFFFF;
}

.btn:hover {
	background-color: #c9c9c9;
}

.label {
	background-color: #E79CF2;
	border: none;
}

.purple-text {
	color: #E79CF2;
}

/*HOME PAGE*/

#home {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 80px;
}

#me {
	display: none;
	width: 50em;
	margin-bottom: 20px;
	box-shadow: 6px 6px 10px #c9c9c9;
	float: left;
}

#hello-world {
	display: none;
	margin-top: 50px;
}

#intro-h2 {
	display: none;
	margin-bottom: 30px;
}

.intro {
	display: none;
}

.interests {
	display: none;
}

#info1, #info2, #info3, #info4, #info5, #info6, #info7, #info8 {
	display: none;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

.info>div>img {
	box-shadow: 2px 6px 10px #c9c9c9;
}

.connect {
	display: none;
}

/*BLOG PAGE*/

.end-post {
	padding-top: 5px;
	font-size: 12px;
	color: #E79CF2;
}

#main-blog {
	border-right: 1px solid #c9c9c9;
	min-height: 400px;
	margin-bottom: 80px;
}

#sidebar-inset {
	background-color: #E79CF2;
	border-radius: 4px;
	padding: 15px;
	color: #FFFFFF;
	margin-bottom: 100px;
}

#user-dashboard {
	border: 1px solid #E79CF2;
	border-radius: 4px;
	padding: 15px;
	margin-top: 20px;
	margin-bottom: 50px;
}

.help-block {
	color: #FF0000;
}

/* RESUME */
.resume-row {
	margin-bottom: 80px;
}

/* PORTFOLIO */

#wrapper {
	display: none;
	margin-bottom: 80px;
}

#lcp-screenshot {
	border: 1px solid #ddd;
}

.portfolio-github-icon {
	font-size: 1em;
	margin: 0px;
}

.thumbnail>img {
	height: 200px;
	width: 300px;
}

.thumbs {
	margin-bottom: 20px;
}

/* ACCESS DENIED PAGE */
.fa-ban {
	color: #FF0000;
}
